*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Arial;
}
body{
    background-color: rgb(101, 10, 101);   
}

.input-box{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.input{
    width: 250px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px;
}

::placeholder{
    font-size: 20px;
}
.img{
    width: 20px;
}

