*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: arial;
}
body{
    background-color: black;
}
.card{
    background: linear-gradient(135deg, #00feba, #5b548a);
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
    cursor: pointer;

}
.button{
    border-radius: 30px;
    padding: 20px;
    border:0;



}
.image{
    height: 20px;
    width:20px;

}
.city img{
    width: 150px;

}
.temp{
    font-size: 80px;
    margin-bottom: 5px;
}

.cityname{
    font-size: 40px;
    margin-bottom: 25px;
}
.humidity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.box {
    display: flex;
    align-items: center;
    text-align: left; 
}


.box img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.percent{
    font-size: 20px;
}
.name{
    font-size: 20px;

}